In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://username:password@localhost:3306/sakila')

def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, customer_id, rental_date
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    df = pd.read_sql(query, engine)
    return df

def rental_count_month(df, month, year):
    col_name = f"rentals_{str(month).zfill(2)}_{year}"
    count_df = df.groupby('customer_id').size().reset_index(name=col_name)
    return count_df

def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on='customer_id', how='inner')
    col1 = df1.columns[1]
    col2 = df2.columns[1]
    merged['difference'] = merged[col2] - merged[col1]
    return merged

may_df = rentals_month(engine, 5, 2005)
may_count = rental_count_month(may_df, 5, 2005)

june_df = rentals_month(engine, 6, 2005)
june_count = rental_count_month(june_df, 6, 2005)

comparison = compare_rentals(may_count, june_count)
print(comparison.head())